<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlm.hello.spring.cloud.alibaba.nacos.provider3.dao.AttachmentMapper">


    <resultMap id="attachmentResultMap" type="com.zlm.hello.spring.cloud.alibaba.nacos.provider3.model.Attachment">
        <result property="id" column="id"/>
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="size" column="size" />
        <result property="file" column="file" jdbcType="BLOB" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
    </resultMap>

    <insert id="insertAttachment" parameterType="com.zlm.hello.spring.cloud.alibaba.nacos.provider3.model.Attachment">
        INSERT INTO `myshop`.`attachment`(`name`,`file`) VALUES (#{name},#{file,typeHandler=org.apache.ibatis.type.BlobTypeHandler})
    </insert>

    <select id="selectAttachmentById" resultMap="attachmentResultMap">
        select `id`,`name`,`type`,`size`,`file` from `myshop`.`attachment` where id = #{id}
    </select>
</mapper>